#Data Science Tools and Ecosystem

## Introduction
This notebook is a final project demonstrating various skills in data science, including creating markdown cells, using different data science languages and libraries, arithmetic operations, and sharing the project via GitHub.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools
| Tool             | Description                               |
|------------------|-------------------------------------------|
| Jupyter Notebook | Interactive computing environment         |
| RStudio          | Integrated development environment for R  |
| Apache Spark     | Unified analytics engine for big data     |
| TensorFlow       | End-to-end open-source machine learning   |
| Tableau          | Data visualization tool                   |

## Arithmetic Expression Examples
Here are some examples of arithmetic expressions in Python:

```python
# Multiply two numbers

In [2]:
# Multiply two numbers
a = 5
b = 4
multiplication = a * b
multiplication

# Add two numbers
addition = a + b
addition

9

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

#Author
Soham Mokal